### This config file is for the difExp.R script. It contains some arguments to set how your data
### will be normalized. To understand what this means, make sure to read the EdgeR User's Guide
### by Yunshun Chen et. al.

### The variables in this config file are directly loaded into the R environment when the script
### starts its run. They are formatted as [name] <- [value]. Do not change the name, and only change
### the values to valid options. If the value is a string (text), keep in mind to use quotation
### marks.

### count normalization
norm_library <- "TMMwsp"
### options for norm_library: "TMM", "TMMwsp", "RLE", "upperquartile", "none". Determines the
### method applied for count normalization.

### toggle whether robust QL esimation should be performed in function glmQLFit().
robust <- FALSE
### use either TRUE or FALSE (default).

### toggle whether the abundance trend should be calculated in function glmQLFit() (variable abundance.trend).
abundance_trend <- TRUE
### use either TRUE (default) or FALSE.

### determine the range to trim from the upper and lower tail in glmQLFit() (variable winsor.tail.p).
winsor_p <- c(0.05, 0.1)
### consists of a numeric vector of two valuables between 0 and 1. Default is c(0.05, 0.1)

### library normalization in function normLibSizes().
norm_sample <- "RPKM"
### options for norm_sample: "RPKM", "CPM". Determines if rpkm() or cpm() is used in normalization.

### differential expression analysis method in function decideTests()
method <- "separate"
### options for method: "separate", "global", "hierarchical" or "nestedF".

### differential expression adjustment in function decideTests()
adjust_method <- "BH"
### options for adjust.method: "none", "BH", "fdr" (equivalent to "BH"), "BY" and "holm".

### apply a log2FoldChange cut-off in function decideTests()
lfc <- 1
### accepts any numerical value

### 
